.hero.is-light .title {
    margin: 0%;
    color: darkgoldenrod;
    margin-bottom: 1em;
}


#nav-btn {
color: rgb(248, 232, 196);
border-bottom: dashed;
border-color: burlywood;
margin: 10px;
}


header {
    color: darkgoldenrod;
    font-weight: 100;
    font-size: 30px;
    font-weight: bold;
}
  
#clockdiv{
    font-family: sans-serif;
    color: rgb(228, 188, 140);
    font-weight: 100;
    text-align: center;
    font-size: 20px;
}
  
#clockdiv > div{
    padding: 5px;
    border-radius: 1px;
    background: rgba(107, 31, 1, 0.685);
    display: inline-block;
}

#clockdiv div > span{
    padding: 5px;
    border-radius: 1px;
    background: rgba(68, 34, 2, 0.514);
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.nav-bar {
    margin-bottom: 5%;
}

.slide-image {
    height: 550px;
    width: 350px; 
    display: block;
}

.text-center {
    text-align: center;
}

a.button {
    background-color: darkgoldenrod;
    color: rgb(68, 41, 8);
}

.mt-2 {
 margin-top: 20px;
}

.img-radius {
    border-radius: 2%;
}

.notification {
    padding: 1.25rem 1.5rem 1.25rem 1.5rem !important;
}

.navbar-start {
    display: flex;
    justify-content: space-between;
}

p {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}

p.title {
    display: flex;
    justify-content: center;
}


.hero {
    background-color: steelblue;
}

.title2 {
    color: black;
}

.paragraph {
    color: black;
}

.signature {
    color: black;
}
#home-img {
    justify-content: center;
}
.box {
    background-color: lavender;
    justify-content: center;
}

