.spirit-recipes {
    margin-right: auto;
  margin-left:  auto;
  padding-right: 10px;
  padding-left:  10px;
}

.drink-name {
    font-weight: bold;
    padding-bottom: 10px;
}

#cocktail-img {
  height: 150px;
  width: 125px;
}