img {

    height: 20%;
    width: 20%;

}

#nav-btn {
color: black;
border-bottom: dashed;
border-color: burlywood;
margin: 10px;
}

header {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}
  
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
  
#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.nav-bar {
    margin-bottom: 5%;
}
.slide-image {
    height: 550px;
    width: 350px; 
     display: block;
}